*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
header{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative; 
}
img{
  position:absolute;
  min-width: 100%;
  min-height: 100%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  /* opacity:0.6; */
}
h1{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 0 6px white;
}
.dots{
  position: absolute;
  bottom:30px;
  left:50%;
  transform: translateX(-50%);
}
.dots span{
  display: inline-block;
  background-color: black;
  margin:0 20px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px white;
}
.dots span.active{
  box-shadow: 0 0 0 5px white, 0 0 3px 10px red;
}